body{
    margin: 50px 100px;
    padding: 20px 50px;
    font-family: Poppins;
    background-color: #ADEED9;
}
.judul{
    text-align: center;
}
h1{
    color: #0ABAB5;
}
form{
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
input{
    height: 20px;
    width: 600px;
    padding: 9px 18px;
    border-radius: 4px;
    border: 1px solid grey;
}
button{
    height: 45px;
    width: 400px;
    margin: 20px 0px;
    border: none;
    background-color: #56DFCF;
    color: #000;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
}
button:hover{
    background-color: #0ABAB5;
    color: #FFEDF3;
    transition: 0.4s;
}
section{
    margin: 0px 18px;
    padding: 20px 60px;
    border-radius: 6px;
    background-color: #FFEDF3;
}
img{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.Hasil{
    margin: 50px 20px;
    text-align: center;
    padding: 40px;
    background-color: #0ABAB5;
    color: #FFEDF3;
    border-radius: 4px;
}